APP_SETUP_COMPLETE=false

APP_NAME="tempoll"
APP_URL="http://localhost:3000"
APP_DEFAULT_LOCALE="de"
DATABASE_URL="postgresql://postgres:postgres@localhost:55432/tempoll?schema=public"
LEGAL_PAGES_ENABLED=false

OPERATOR_LEGAL_NAME=""
OPERATOR_DISPLAY_NAME=""
OPERATOR_STREET_ADDRESS=""
OPERATOR_POSTAL_CODE=""
OPERATOR_CITY=""
OPERATOR_COUNTRY="Austria"
OPERATOR_EMAIL=""
OPERATOR_PHONE=""
OPERATOR_WEBSITE=""
OPERATOR_BUSINESS_PURPOSE=""

MEDIA_OWNER=""
EDITORIAL_LINE=""

PRIVACY_CONTACT_EMAIL=""
HOSTING_DESCRIPTION=""
PRIVACY_PROCESSORS=""
